<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net451" />
  <package id="Sage.Connector.Cloud.Integration.Interfaces" version="1.4.10904.2" targetFramework="net451" />
  <package id="Sage.Connector.Cloud.Integration.Proxy" version="1.4.10904.2" targetFramework="net451" />
</packages>