<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConfigurationStoreModelContainer" connectionString="metadata=res://*/ConfigurationStore.ConfigurationStoreModel.csdl|res://*/ConfigurationStore.ConfigurationStoreModel.ssdl|res://*/ConfigurationStore.ConfigurationStoreModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\ConfigurationStore\ConfigurationStore.sdf&quot;" providerName="System.Data.EntityClient" />
    <add name="LogStoreModelContainer" connectionString="metadata=res://*/LogStore.LogStoreModel.csdl|res://*/LogStore.LogStoreModel.ssdl|res://*/LogStore.LogStoreModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=|DataDirectory|\LogStore.sdf;Max Database Size=2048&quot;" providerName="System.Data.EntityClient" />
    <add name="QueueStoreModelContainer" connectionString="metadata=res://*/QueueStore.QueueStoreModel.csdl|res://*/QueueStore.QueueStoreModel.ssdl|res://*/QueueStore.QueueStoreModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=|DataDirectory|\QueueStore.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>