<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Sage.Connector.DomainContracts.BackOffice" version="3.0.11013.2" targetFramework="net451" />
  <package id="Sage.Connector.DomainContracts.Data" version="3.0.11013.2" targetFramework="net451" />
  <package id="Sage.Connector.DomainContracts.Responses" version="3.0.11013.2" targetFramework="net451" />
  <package id="Sage.Connector.Statements.Contracts.BackOffice" version="3.0.11013.2" targetFramework="net451" />
  <package id="Sage.Connector.Statements.Contracts.Data" version="3.0.11013.2" targetFramework="net451" />
</packages>