<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id='COM_ConnectorServiceInstanceConfigDefaults' Guid="A4BA002B-2FD8-4F0C-A3EB-92A5BF503889"  DiskId="1">
        <File Id='FIL_ConnectorServiceInstanceConfigDefaults' Name="Sage.CRE.HostingFramework.Service-InstanceConfigDefaults.xml" Source="$(var.SandboxDir)\Libraries\CM\CloudConnector\Install\$(var.SkyfireProduct)\Build\ConnectorService-InstanceConfigDefaults.xml" Vital="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>
